In [760]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re


import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

pd.set_option('display.max_columns', None)

In [761]:
Sharkattacks = pd.read_csv('attacks.csv', encoding = 'ISO 8859-1')

In [762]:
type(Sharkattacks)

pandas.core.frame.DataFrame

In [763]:
len(Sharkattacks.duplicated())

25723

In [764]:
type(Sharkattacks)

pandas.core.frame.DataFrame

In [765]:
Sharkattacks = Sharkattacks.drop_duplicates()

In [766]:
Sharkattacks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6310 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [767]:
Sharkattacks.isnull().sum()

Case Number                  2
Date                        10
Year                        12
Type                        14
Country                     60
Area                       465
Location                   550
Activity                   554
Name                       220
Sex                        575
Age                       2841
Injury                      38
Fatal (Y/N)                549
Time                      3364
Species                   2848
Investigator or Source      27
pdf                         10
href formula                11
href                        10
Case Number.1               10
Case Number.2               10
original order               3
Unnamed: 22               6311
Unnamed: 23               6310
dtype: int64

In [768]:
Sharkattacks.loc[Sharkattacks['Unnamed: 22'].notnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,31,"No injury, shark bumped surfboard",N,16h00,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN

In [769]:
Sharkattacks.loc[Sharkattacks['Unnamed: 23'].notnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,NaN,"Buttock bitten, tissue removed",N,NaN,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,NaN,Leg bitten by netted shark PROVOKED INCIDENT,N,NaN,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

In [770]:
#Sharkattacks.loc[Sharkattacks['Unnamed: 22', 'Unnamed: 23'].drop()

#Sharkattacks = Sharkattacks.dropna(thresh=6000, axis=1) Ca´nt eliminate columns


Sharkattacks = Sharkattacks.drop([6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 8702, 25722], axis= 0)

Sharkattacks.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

In [771]:
#Mucho problemas con los nombres. Rename
Sharkattacks.rename(columns={'Case Number' : 'Case number', 'Sex ': 'Sex', 'Fatal (Y/N)' : 'Fatal', 'Species ' : 'Species', 'pdf' : 'Pdf doc', 'href formula': 'Href formula', 'href':'Href', 'original order' : 'Original order'}, inplace=True)

Sharkattacks.columns

Index(['Case number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Pdf doc', 'Href formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [772]:
Sharkattacks.loc[Sharkattacks['Year'].isnull()]

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [773]:
Sharkattacks.loc[Sharkattacks['Type'].isna()]

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23
85,2017.09.15.a,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0,NaN,NaN
382,2015.07.27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0,NaN,NaN
4867,1936.09.11.R,Reported 11-Sep-1936,1936.0,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.09.11.R,1936.09.11.R,1436.0,NaN,NaN
5705,1890.03.03.R,Reported 03-Mar-1890,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.03.03.R,1890.03.03.R,598.0,NaN,NaN

In [774]:
Sharkattacks.loc[Sharkattacks['Original order'].isna()]

Empty DataFrame
Columns: [Case number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Pdf doc, Href formula, Href, Case Number.1, Case Number.2, Original order, Unnamed: 22, Unnamed: 23]
Index: []

In [775]:
Sharkattacks['Year'] = Sharkattacks['Year'].astype(str)

In [776]:
Sharkattacks['Fatal']

0             N
1             N
2             N
3             N
4             N
5             N
6             Y
7             N
8             N
9             N
10            N
11            N
12            N
13            N
14            N
15            N
16            N
17            N
18            N
19            N
20            N
21            N
22            N
23            N
24            N
25            N
26            N
27          NaN
28            N
29            N
30            N
31            N
32            N
33            N
34            N
35            N
36            N
37            N
38            N
39            N
40            N
41            N
42            N
43            N
44            N
45            N
46            N
47            N
48            N
49            N
50            N
51            N
52            N
53            N
54            N
55            N
56            N
57            N
58            Y
59            Y
60            N
61            N
62            N
63            N
64            Y
65            N
66            N
67            N
68            N
69            N
70            N
71            N
72            N
73            N
74            N
75            N
76          NaN
77            N
78            N
79          NaN
80            N
81            N
82            N
83            N
84          NaN
85            N
86            N
87            N
88            N
89            N
90            N
91            Y
92            N
93            N
94            N
95            N
96            N
97            N
98          NaN
99            N
100           N
101           N
102           N
103           N
104           N
105           N
106           N
107         NaN
108           N
109           N
110           N
111           N
112           N
113           N
114           N
115         NaN
116           N
117           N
118           N
119           N
120           N
121           N
122           N
123           N
124         NaN
125         NaN
126           N
127           N
128           N
129           N
130           N
131           N
132           N
133           N
134           N
135           N
136           N
137           N
138           N
139           N
140           N
141           N
142           N
143           N
144           Y
145         NaN
146           N
147           N
148           N
149           Y
150           N
151         NaN
152           N
153         NaN
154           N
155           Y
156           N
157           N
158           N
159         NaN
160           N
161           N
162           N
163           N
164           N
165           N
166           N
167           N
168           N
169           N
170           N
171           N
172           N
173           N
174           Y
175           N
176           N
177           N
178           N
179           N
180           N
181           N
182           N
183           N
184           N
185           N
186           N
187         NaN
188           N
189         NaN
190           N
191           N
192           N
193           N
194           N
195         NaN
196           N
197           N
198           N
199           N
200           N
201           N
202           N
203           N
204           N
205           N
206         NaN
207           N
208           N
209           N
210           N
211           N
212           N
213           N
214           N
215           N
216           N
217           N
218           N
219           N
220           N
221           Y
222           N
223           N
224           N
225           N
226         NaN
227           N
228           N
229           N
230           N
231           N
232           N
233           N
234           N
235           N
236           N
237           N
238           N
239           N
240           N
241           N
242           N
243           N
244           N
245           N
246           N
247           N
248           N
249           N
250           N
251           N
252           N
253           N
254           N
255           N
256           N
257           N
258           N
259           N
260           N
261           N
262           N
263           N
264           N
265         NaN
266           N
267           Y
268           N
269         NaN
270           N
271           Y
272           N
273           N
274           N
275           N
276           N
277           N
278           N
279           N
280           N
281           N
282           N
283           N
284           N
285           M
286           N
287           N
288           Y
289         NaN
290           N
291         NaN
292           N
293           N
294         NaN
295           N
296           N
297         NaN
298           N
299           Y
300           N
301           N
302           N
303           N
304           N
305           N
306         NaN
307         NaN
308           N
309           N
310           N
311           N
312           N
313           N
314           N
315           N
316           N
317           N
318           N
319           N
320           N
321           N
322           N
323           N
324           N
325           Y
326           N
327           N
328           N
329           N
330           N
331           N
332           N
333           N
334         NaN
335           N
336           N
337           N
338           N
339           N
340           N
341           N
342           N
343           Y
344         NaN
345           N
346           N
347           N
348           N
349           N
350           N
351           N
352           N
353           N
354           N
355           N
356           N
357           N
358           N
359           N
360           N
361           N
362           N
363           N
364           N
365           N
366           N
367           N
368           N
369           N
370           N
371           N
372           N
373         NaN
374           N
375           N
376           N
377           N
378         NaN
379           N
380           N
381           N
382         NaN
383           N
384         NaN
385           Y
386           N
387           N
388           N
389           N
390           N
391         NaN
392         NaN
393           N
394           N
395           N
396           N
397           N
398           N
399           N
400           N
401           N
402         NaN
403           N
404           N
405           N
406           N
407           N
408           N
409           N
410           N
411           N
412           N
413           N
414           N
415           N
416           N
417           N
418           N
419           N
420           N
421           N
422           N
423           N
424           N
425           Y
426           N
427           N
428           N
429           Y
430           N
431           N
432           N
433           N
434           Y
435           N
436           N
437         NaN
438         NaN
439           N
440           Y
441           N
442           N
443           N
444           N
445           N
446           N
447           Y
448           Y
449           N
450           N
451           N
452           N
453           N
454           N
455           N
456         NaN
457           N
458           N
459         NaN
460           N
461           N
462           N
463           N
464           Y
465           N
466         NaN
467           N
468           N
469           N
470           Y
471           N
472           N
473           Y
474           N
475           N
476           N
477           N
478           N
479           N
480           N
481           N
482           N
483           N
484           N
485           N
486           N
487           N
488           N
489           N
490           N
491           N
492           N
493           N
494           N
495           N
496           N
497           N
498           N
499         NaN
500           Y
501           N
502           N
503           N
504           N
505           N
506           N
507         NaN
508           N
509           N
510           N
511           N
512           N
513           N
514           N
515           N
516           N
517           N
518           N
519           N
520           N
521           N
522           N
523           N
524           N
525         NaN
526           N
527           N
528           N
529           N
530           N
531           N
532         NaN
533           N
534           N
535           N
536           N
537           N
538           N
539           N
540           N
541           N
542           N
543           N
544           N
545           N
546           N
547           N
548           N
549           N
550           N
551           N
552           N
553           N
554           N
555           N
556           N
557           N
558         NaN
559           N
560           N
561           N
562           N
563           N
564           N
565           N
566           N
567           N
568           N
569           Y
570         NaN
571           Y
572           N
573           N
574           N
575           N
576         NaN
577           N
578         NaN
579           N
580           N
581           N
582           Y
583           N
584           N
585           N
586           N
587           N
588           N
589           N
590           N
591           N
592           N
593           N
594           N
595           N
596           Y
597           Y
598           N
599           Y
600           N
601           N
602           N
603           N
604           N
605           N
606           N
607           N
608           N
609           N
610           N
611           N
612           N
613           Y
614           N
615           N
616           N
617           N
618           N
619           N
620           N
621           N
622           N
623           N
624     UNKNOWN
625           N
626           N
627           N
628           N
629           N
630           N
631           N
632           N
633         NaN
634           N
635           N
636           N
637           N
638           N
639           Y
640           N
641           N
642           N
643           N
644           N
645           N
646           N
647           N
648           N
649           N
650           N
651           Y
652           N
653           N
654           Y
655           Y
656           N
657         NaN
658           N
659           N
660         NaN
661           N
662           N
663           N
664           N
665           N
666           N
667           N
668           N
669           N
670           N
671           N
672           N
673           Y
674           N
675           N
676         NaN
677           Y
678           N
679           N
680           N
681           N
682           N
683           N
684           N
685           Y
686           N
687           N
688         NaN
689           N
690         NaN
691           N
692           N
693           N
694           N
695           N
696           Y
697           N
698           N
699           N
700           Y
701           N
702           N
703           N
704           N
705           N
706           N
707           N
708         NaN
709           N
710           N
711           N
712           N
713           N
714           N
715           Y
716           N
717           N
718           N
719           N
720           N
721         NaN
722           Y
723           N
724           N
725           N
726           N
727           N
728           Y
729           N
730           N
731           N
732         NaN
733           N
734           N
735           N
736           N
737           N
738           N
739           N
740           N
741           N
742           N
743           N
744           N
745           N
746           N
747           N
748           N
749           N
750           N
751           Y
752           N
753           N
754           N
755           N
756           N
757           N
758           N
759           N
760           N
761         NaN
762           Y
763         NaN
764         NaN
765           Y
766           N
767           N
768         NaN
769           N
770           N
771         NaN
772           N
773           N
774           N
775           N
776           N
777           N
778         NaN
779           N
780           N
781           N
782           N
783           N
784           N
785           N
786        2017
787           N
788           N
789           N
790           N
791           N
792           N
793           N
794           N
795           N
796           N
797           N
798           N
799           Y
800           N
801           N
802           N
803           Y
804           N
805           N
806           N
807           N
808           N
809           N
810           N
811           N
812           N
813           N
814         NaN
815           N
816           N
817           N
818           N
819           N
820           N
821           N
822           N
823           N
824           N
825           Y
826           N
827           N
828           N
829           N
830         NaN
831           N
832           N
833           N
834           N
835           N
836         NaN
837           N
838           N
839         NaN
840           N
841           N
842           N
843           N
844           N
845           N
846           N
847           N
848           N
849           N
850           Y
851           N
852           N
853           N
854           N
855           Y
856           N
857           N
858           N
859         NaN
860           N
861           N
862           N
863           N
864           N
865           Y
866           Y
867           N
868           N
869           N
870           N
871           Y
872           N
873           N
874         NaN
875           N
876           N
877           N
878           N
879           Y
880           N
881           N
882         NaN
883           N
884           N
885           N
886           Y
887           N
888           N
889           Y
890         NaN
891           N
892           N
893           N
894           N
895           N
896           N
897           N
898           N
899           N
900           N
901           N
902           N
903           N
904           N
905           N
906           N
907           N
908           N
909           Y
910           Y
911           N
912           N
913           N
914           N
915           N
916           N
917           N
918           N
919           N
920           N
921           Y
922           N
923           Y
924           N
925           N
926         NaN
927           N
928           N
929           N
930           N
931           N
932           N
933           N
934           N
935           N
936           N
937           N
938           N
939           N
940         NaN
941           N
942           N
943           N
944           N
945           Y
946           N
947           N
948           N
949           N
950           N
951           N
952           N
953         NaN
954           Y
955           N
956           N
957           N
958           N
959           N
960           Y
961           N
962           N
963           N
964           N
965           N
966           N
967         NaN
968           N
969           Y
970           N
971           N
972           N
973           N
974           N
975           N
976           N
977           N
978           Y
979           N
980           N
981           N
982           N
983           N
984           N
985           N
986           Y
987           N
988           N
989           N
990           N
991           N
992           N
993           N
994         NaN
995           N
996           Y
997           N
998           N
999           N
1000          N
1001          N
1002          N
1003        NaN
1004          N
1005          N
1006          N
1007          N
1008          N
1009          N
1010          N
1011          N
1012          N
1013          N
1014          N
1015          N
1016          N
1017          N
1018          N
1019          N
1020          N
1021          N
1022          N
1023          N
1024          N
1025          N
1026          N
1027          N
1028          N
1029          N
1030          N
1031          N
1032          N
1033          N
1034          N
1035          N
1036          N
1037          N
1038          Y
1039          N
1040          N
1041          N
1042          N
1043          N
1044        NaN
1045          Y
1046          N
1047          N
1048          N
1049          N
1050          N
1051          Y
1052          N
1053          N
1054          N
1055          N
1056          N
1057          N
1058          N
1059          N
1060          N
1061          N
1062          N
1063          Y
1064        NaN
1065          Y
1066          N
1067          N
1068          N
1069        NaN
1070          N
1071          N
1072          N
1073          N
1074          N
1075          N
1076          N
1077          N
1078          N
1079          N
1080          N
1081          N
1082          N
1083          N
1084          N
1085          N
1086          N
1087          N
1088          N
1089          N
1090          Y
1091          Y
1092          Y
1093        NaN
1094          N
1095          N
1096          Y
1097          N
1098          N
1099          N
1100          N
1101          N
1102          N
1103          N
1104          N
1105          Y
1106          N
1107        NaN
1108          N
1109          N
1110          N
1111          N
1112          N
1113          N
1114          N
1115          N
1116          N
1117        NaN
1118        NaN
1119          N
1120          N
1121          N
1122          Y
1123          N
1124          N
1125          N
1126          N
1127          N
1128          N
1129          N
1130          N
1131          N
1132          N
1133          N
1134          N
1135          N
1136        NaN
1137          N
1138        NaN
1139          N
1140          N
1141          N
1142          Y
1143          N
1144          N
1145          N
1146          N
1147          N
1148          N
1149          N
1150          Y
1151          N
1152          N
1153          N
1154          N
1155          N
1156          N
1157          N
1158          Y
1159          N
1160          N
1161          N
1162        NaN
1163          N
1164          N
1165          N
1166          Y
1167        NaN
1168          N
1169          N
1170          Y
1171          N
1172          N
1173          N
1174          N
1175          N
1176          N
1177          N
1178        NaN
1179          N
1180          N
1181          N
1182          Y
1183          N
1184          N
1185          N
1186          N
1187          Y
1188          N
1189          N
1190          N
1191          N
1192          Y
1193          Y
1194          N
1195          N
1196          N
1197          N
1198          N
1199          N
1200          N
1201          N
1202          N
1203          N
1204          N
1205          N
1206          N
1207          N
1208          N
1209          N
1210          N
1211          N
1212        NaN
1213          N
1214          N
1215          N
1216          N
1217        NaN
1218          N
1219        NaN
1220          N
1221          N
1222          N
1223          N
1224          N
1225          N
1226          N
1227          N
1228          N
1229          N
1230          N
1231          N
1232          N
1233          N
1234          N
1235        NaN
1236          N
1237          N
1238          N
1239          N
1240        NaN
1241          N
1242          N
1243          N
1244          N
1245          N
1246          N
1247          N
1248          N
1249          N

In [777]:
Sharkattacks = Sharkattacks.fillna({'Case number': 'Look at the end of the table', 'Year':'Manny moons ago', 'Type': 'Asking for it', 'Country': 'Carmen Sandiego', 'Area': '51', 'Location': 'Wally', 'Activity': 'Water activity', 'Name': 'John/Jane Doe', 'Sex': '<--Who´s asking?', 'Age': '0 to 99', 'Injury': 'Ouch', 'Fatal': 'Schrödinger', 'Time':'Is relative', 'Species': 'Ellasmobranquii sp', 'Investigator or Source': 'Mulder & Scully', 'Href formula' : '-->'})


#Sharkattacks[Sharkattacks['Location'].str.contains('Wally')]

#Sharkattacks[Sharkattacks['Name'].str.contains('John/Jane Doe')]

In [778]:
Sharkattacks.isnull().sum()

Case number                  0
Date                         0
Year                         0
Type                         0
Country                      0
Area                         0
Location                     0
Activity                     0
Name                         0
Sex                          0
Age                          0
Injury                       0
Fatal                        0
Time                         0
Species                      0
Investigator or Source       0
Pdf doc                      0
Href formula                 0
Href                         0
Case Number.1                0
Case Number.2                0
Original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [779]:
Sharkattacks[Sharkattacks['Href formula'].isnull()]

Empty DataFrame
Columns: [Case number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Pdf doc, Href formula, Href, Case Number.1, Case Number.2, Original order, Unnamed: 22, Unnamed: 23]
Index: []

In [780]:
Sharkattacks.shape

(6302, 24)

In [781]:
Sharkattacks.columns

Index(['Case number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Pdf doc', 'Href formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [782]:
Sharkattacks._get_numeric_data().groupby('Age').sum()

KeyError: 'Age'

In [ ]:
Sharkattacks['Case Number.2']  #All Case number columns have the same info

In [ ]:
#Merge all 3 'Case number' columns

#Sharkattacks['Merged case numbers'] = list(zip(Sharkattacks['Case number'], Sharkattacks['Case Number.1'], Sharkattacks['Case Number.2']))

#Sharkattacks['Merged case numbers'] Useless. Only means 3 values in one column. I need to overwrite.

#Sharkattacks
if Sharkattacks['Case number'].equals(Sharkattacks['Case Number.1']) and Sharkattacks['Case number'].equals(Sharkattacks['Case Number.2']) and Sharkattacks['Case number.1'].equals(Sharkattacks['Case Number.2']):
    print('col1, col2, and col3 have identical values')
else:
    print('col1, col2, and col3 do not have identical values')

In [ ]:
Sharkattacks['Case number'] = (Sharkattacks['Case number'].astype(str)).str.replace(r'[^\d.]+', '')


list (Sharkattacks['Case number'])
#Sharkattacks['Case number'].apply(lambda x: re.sub(r'[^\d\W]+', '', x))


#Sharkattacks[Sharkattacks['Case number'].str.contains('a')]['Case number'] #664 veces

#Sharkattacks[Sharkattacks['Case number'].str.contains('b')]['Case number'] #649 veces

#Sharkattacks[Sharkattacks['Case number'].str.contains('c')]['Case number'] #136 veces

#Sharkattacks[Sharkattacks['Case number'].str.contains('R')]['Case number'] #562 veces

#Sharkattacks[Sharkattacks['Case number'].str.contains('h')]['Case number']

# Sharkattacks['Case number'] = Sharkattacks['Case number'].str.slice(stop=-1) THIS WORKS



#WHY ISN´T IT WORKING??

In [ ]:
#Sharkattacks['Case number'] = to_datetime(Sharkattacks['Case number'], errors='coerce')
#Sharkattacks['Case number'] = Sharkattacks['Case number'].dt.strftime('%Y-%m-%d')

In [ ]:
#Where do Case number 1 and 2 differ? They have the 
Mask12 = Sharkattacks['Case Number.1'] != Sharkattacks['Case Number.2']

Sharkattacks[Mask12].index

In [ ]:
Mask01 = Sharkattacks['Case number'] != Sharkattacks['Case Number.1']

Sharkattacks[Mask01].index

In [ ]:
Mask02 = Sharkattacks['Case number'] != Sharkattacks['Case Number.2']

Sharkattacks[Mask02].index

In [ ]:
print(len(Sharkattacks[Mask01].index), len(Sharkattacks[Mask02].index), len(Sharkattacks[Mask12].index))

In [ ]:
# Rows that are different in ALL: 390, 4949, 6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 8702, 25722
#Rows different btween 0 and 1 ONLY: None   0 and 2: None   1 and 2: None
Sharkattacks['Case number'][4949]

In [ ]:
Hrefcheck = Sharkattacks['Href formula'] != Sharkattacks['Href']

Sharkattacks[Hrefcheck].index

In [ ]:

Hrefnull= Sharkattacks['Href formula'].isnull()
Hrefnullrows = Sharkattacks[Hrefnull]
Hrefnullrows


#Just move Href formula to end of dataframe, para que no moleste

In [ ]:
'''movercolumna = Sharkattacks.pop('Href formula')
Sharkattacks.insert(len(Sharkattacks.columns), 'Href formula', movercolumna)
Sharkattacks


def cross_out_text(value):
    return '<strike>{}</strike>'.format(value)
Sharkattacks.style.format({'Href formula': cross_out_text})'''

Sharkattacks['Href formula'] = Sharkattacks['Href formula'].apply(lambda x: '<s>' + x + '</s>')

#No way to properly cross out the text, to avoid the same information being displayed twice.

Sharkattacks

In [ ]:
Sharkattacks.groupby('Species')['Injury'].sum()

In [ ]:
#White_sharks = Sharkattacks.groupby('Species')['Species'].apply(lambda x: x.str.count('white shark').sum())
#White_sharks


Sharkattacks['Species'].str.count('White shark').sum()

In [ ]:
Sharkattacks['Species']= Sharkattacks['Species'].str.lower()

'''Sharkattacks['Species']= Sharkattacks['Species'].replace('White', 'white')
Sharkattacks['Species']= Sharkattacks['Species'].replace('Tiger', 'tiger')'''

In [ ]:
Sharkattacks['Species']

In [ ]:
#Sharkattacks['Species'].str.count('shark').sum()
Sharkattacks['Species'].unique()

In [ ]:
list(Sharkattacks['Type'].unique())

In [785]:
Sharkattacks['Type']= Sharkattacks['Type'].replace('Boatomg', 'Boating')
Sharkattacks['Type']= Sharkattacks['Type'].replace('Boat', 'Boating') #Reduce different possibilities

In [ ]:
list(Sharkattacks['Type'].unique())

In [ ]:
Sharkattacks.loc[Sharkattacks['Sex']== '<--Who´s asking?']

In [ ]:
list(Sharkattacks['Fatal'].unique())

In [784]:
Sharkattacks['Fatal']= Sharkattacks['Fatal'].replace(' N', 'N')
Sharkattacks['Fatal']= Sharkattacks['Fatal'].replace('N ', 'N')
Sharkattacks['Fatal']= Sharkattacks['Fatal'].replace('y', 'Y')
Sharkattacks['Fatal']= Sharkattacks['Fatal'].replace('M', 'N')
Sharkattacks['Fatal']= Sharkattacks['Fatal'].replace('UNKNOWN', 'Schrödinger')
Sharkattacks['Fatal']= Sharkattacks['Fatal'].replace('2017', 'N')

In [ ]:
Sharkattacks.loc[Sharkattacks['Fatal']== '2017']

Empty DataFrame
Columns: [Case number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Pdf doc, Href formula, Href, Case Number.1, Case Number.2, Original order, Unnamed: 22, Unnamed: 23]
Index: []

In [ ]:
list(Sharkattacks['Year'].unique())

In [ ]:
list(Sharkattacks['Sex'].unique())

['F', 'M', '<--Who´s asking?']

In [795]:
Sharkattacks['Sex']= Sharkattacks['Sex'].replace('M ', 'M')
Sharkattacks['Sex']= Sharkattacks['Sex'].replace('N', 'M')
Sharkattacks['Sex']= Sharkattacks['Sex'].replace('lli', 'M')
Sharkattacks['Sex']= Sharkattacks['Sex'].replace('.', '<--Who´s asking?')

Sharkattacks['Sex'].unique()

array(['F', 'M', '<--Who´s asking?'], dtype=object)

In [796]:
Sharkattacks.loc[Sharkattacks['Sex']== 'lli']

Empty DataFrame
Columns: [Case number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Pdf doc, Href formula, Href, Case Number.1, Case Number.2, Original order, Unnamed: 22, Unnamed: 23]
Index: []

In [797]:
(Sharkattacks['Country'].unique())

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'Carmen Sandiego', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory',
       'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [798]:
len(Sharkattacks['Date'].unique())

5433

In [804]:
Sharkattacks.sort_values(by='Case number').head(20)

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,Carmen Sandiego,Ionian Sea,Wally,Ascending from a dive,"Tharsys, a sponge diver",M,0 to 99,"FATAL, shark/s bit him in two",Y,Is relative,Ellasmobranquii sp,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN
6178,0000.0336,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,0 to 99,"FATAL, shark ""bit off all lower parts of him u...",Y,Is relative,Ellasmobranquii sp,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0336,0000.0336,125.0,NaN,NaN
6179,0000.0493,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,Wally,Shipwrecked Persian Fleet,males,M,0 to 99,Herodotus tells of sharks attacking men in the...,Y,Is relative,Ellasmobranquii sp,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0493,0000.0493,124.0,NaN,NaN
6180,0000.0725,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,0 to 99,Depicts shipwrecked sailors attacked by a sha...,Y,Is relative,Ellasmobranquii sp,"V.M. Coppleson (1958), p.262, et al",725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0725,0000.0725,123.0,NaN,NaN
6176,0005.00.00,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,Water activity,male,M,0 to 99,Aboriginal rock carving depicts man being atta...,N,Is relative,Ellasmobranquii sp,Waverly Library,0005.00.00-AustralianAboriginal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0005.00.00,0005.00.00,127.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,Carmen Sandiego,Ionian Sea,Wally,Sponge diving,males,M,0 to 99,FATAL,Y,Is relative,Ellasmobranquii sp,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6174,0500.00.00,Circa 500 A.D.,500.0,Unprovoked,MEXICO,51,Wally,Water activity,male,M,0 to 99,Foot severed,N,Is relative,Ellasmobranquii sp,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,NaN,NaN
6173,1543.00.00,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,Wally,Pearl diving,Indian slave,M,0 to 99,FATAL,Y,Is relative,Ellasmobranquii sp,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,NaN,NaN
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,Wally,Water activity,males (wearing armor),M,0 to 99,Ouch,Schrödinger,Is relative,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,NaN,NaN
6171,1555.00.00,1555,1555.0,Unprovoked,Carmen Sandiego,51,Wally,Swimming,male,M,0 to 99,Ouch,Schrödinger,Is relative,Ellasmobranquii sp,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,132.0,NaN,NaN
6170,1580.01.10.R,Letter dated 10-Jan-1580,1580.0,Unprovoked,Between PORTUGAL & INDIA,51,Wally,Man fell overboard from ship. Those on board t...,male,M,0 to 99,"FATAL. ""Shark tore him to pieces.",Y,Is relative,Ellasmobranquii sp,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN
6169,1595.00.00,1595,1595.0,Unprovoked,INDIA,Kerala,River Cochin,Ship lay at anchor & man was working on its ru...,male,M,0 to 99,"Leg severed mid-thigh, hand severed, arm above...",Schrödinger,Is relative,Ellasmobranquii sp,The Voyage of John Huyghen van Linschoten,1595.00.00-Cochin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1595.00.00,1595.00.00,134.0,NaN,NaN
6167,1617.00.00.R,Reported 1617,1617.0,Unprovoked,INDIA,West Bengal,Ganges Delta,Water activity,Indian people,<--Who´s asking?,0 to 99,Ouch,Schrödinger,Is relative,Ellasmobranquii sp,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1617.00.00.R,1617.00.00.R,136.0,NaN,NaN
6166,1637.00.00.R,Reported 1637,1637.0,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,<--Who´s asking?,0 to 99,Ouch,Schrödinger,Is relative,Ellasmobranquii sp,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,137.0,NaN,NaN
6165,1638.00.00.R,Reported 1638,1638.0,Unprovoked,Carmen Sandiego,51,Wally,Water activity,sailors,M,0 to 99,Ouch,Schrödinger,Is relative,Ellasmobranquii sp,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,138.0,NaN,NaN
6168,1642.00.00,1642,1642.0,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,0 to 99,FATAL,Y,Is relative,Ellasmobranquii sp,"Knickerbocker's History of New York, by Washin...",1642.00.00-Corlear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00,1642.00.00,135.0,NaN,NaN
6164,1642.00.00.b,Late 1600s Reported 1728,1642.0,Invalid,GUINEA,51,Wally,Went overboard,crew member of the Nieuwstadt,M,0 to 99,FATAL,Schrödinger,Is relative,Questionable,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,139.0,NaN,NaN
6163,1700.00.00.a,1700s,1700.0,Unprovoked,BARBADOS,51,Wally,Bathing,seaman from the York,M,0 to 99,FATAL,Y,Is relative,Ellasmobranquii sp,"Tioga Eagle, 10.26/ 1842",1700.00.00.a-Barbados.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.a,1700.00.00.a,140.0,NaN,NaN
6162,1700.00.00.b,1700s,1700.0,Unprovoked,FRANCE,Côte d'Azur,Antibes,Bathing,seaman,M,0 to 99,Leg severed,N,Is relative,White shark,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,141.0,NaN,NaN
6161,1700.00.00.c,1700s,1700.0,Unprovoked,FRANCE,51,Nice,Water activity,child,M,0 to 99,FATAL,Y,Is relative,Ellasmobranquii sp,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.c-Nice.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.c,1700.00.00.c,142.0,NaN,NaN

In [805]:
Sharkattacks.loc[Sharkattacks['Type']== 'USA']

Empty DataFrame
Columns: [Case number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Pdf doc, Href formula, Href, Case Number.1, Case Number.2, Original order, Unnamed: 22, Unnamed: 23]
Index: []

In [806]:
list(Sharkattacks['Type'].unique())

['Boating',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Asking for it']

In [807]:
CounSex = (Sharkattacks.groupby('Country')['Sex'].value_counts())

CounSex.loc['JAPAN']

Sex
M                   29
<--Who´s asking?     5
Name: count, dtype: int64

In [808]:
TySex = Sharkattacks.groupby('Type')['Sex'].value_counts()

TySex.loc['Asking for it']

Sex
M    4
Name: count, dtype: int64

In [809]:
TyFat = Sharkattacks.groupby('Type')['Fatal'].value_counts()

TyFat.loc['Asking for it']

Fatal
Y              2
Schrödinger    1
N              1
Name: count, dtype: int64

In [810]:
SeFat = Sharkattacks.groupby('Sex')['Fatal'].value_counts()

SeFat.loc['<--Who´s asking?']

Fatal
N              349
Schrödinger    109
Y              108
Name: count, dtype: int64

In [861]:
OHESex = pd.get_dummies(Sharkattacks['Sex'])
OHEsex = OHESex.astype(int)
OHEsex.head(5)

   <--Who´s asking?  F  M
0                 0  1  0
1                 0  1  0
2                 0  0  1
3                 0  0  1
4                 0  0  1

In [862]:
OHEType = pd.get_dummies(Sharkattacks['Type'])
OHEType = OHEType.astype(int)
OHEType.head(5)

,Asking for it,Boating,Invalid,Provoked,Questionable,Sea Disaster,Unprovoked
0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0

In [863]:
OHEFatal = pd.get_dummies(Sharkattacks['Fatal'])
OHEFatal = OHEFatal.astype(int)

OHEFatal.head(10)

   N  Schrödinger  Y
0  1            0  0
1  1            0  0
2  1            0  0
3  1            0  0
4  1            0  0
5  1            0  0
6  0            0  1
7  1            0  0
8  1            0  0
9  1            0  0

In [853]:
OHESexFat = pd.get_dummies(Sharkattacks[['Sex', 'Fatal']])

OHESexFat = OHESexFat.astype(int)

OHESexFat.head(10)

   Sex_<--Who´s asking?  Sex_F  Sex_M  Fatal_N  Fatal_Schrödinger  Fatal_Y
0                     0      1      0        1                  0        0
1                     0      1      0        1                  0        0
2                     0      0      1        1                  0        0
3                     0      0      1        1                  0        0
4                     0      0      1        1                  0        0
5                     0      0      1        1                  0        0
6                     0      0      1        0                  0        1
7                     0      0      1        1                  0        0
8                     0      0      1        1                  0        0
9                     0      0      1        1                  0        0

In [870]:
#Sharkattacks = pd.concat([Sharkattacks, OHESex], axis=1)

#Sharkattacks = Sharkattacks.iloc[:, :-3]

In [871]:
Sharkattacks.head(5)

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0 to 99,Minor injury to lower leg,N,Is relative,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0 to 99,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Is relative,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [875]:
OHEFatal.head(5)
OHEType.head(5)
OHEsex.head(5)

#All are numbers

   <--Who´s asking?  F  M
0                 0  1  0
1                 0  1  0
2                 0  0  1
3                 0  0  1
4                 0  0  1

In [876]:
Sharkattacks = pd.concat([Sharkattacks, OHEFatal], axis=1)

Sharkattacks.head(5)

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23,N,Schrödinger,Y
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,1,0,0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,1,0,0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,1,0,0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0 to 99,Minor injury to lower leg,N,Is relative,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,1,0,0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0 to 99,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Is relative,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,1,0,0

In [877]:
Sharkattacks = pd.concat([Sharkattacks, OHEType], axis=1)

Sharkattacks.head(5)

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23,N,Schrödinger,Y,Asking for it,Boating,Invalid,Provoked,Questionable,Sea Disaster,Unprovoked
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,1,0,0,0,1,0,0,0,0,0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,1,0,0,0,0,0,0,0,0,1
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0 to 99,Minor injury to lower leg,N,Is relative,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,1,0,0,0,0,0,0,0,0,1
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0 to 99,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Is relative,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,1,0,0,0,0,0,1,0,0,0

In [880]:
#Sharkattacks = pd.concat([Sharkattacks, OHEsex], axis=1)
#Sharkattacks = Sharkattacks.iloc[:, :-3]
Sharkattacks.head(5)

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Pdf doc,Href formula,Href,Case Number.1,Case Number.2,Original order,Unnamed: 22,Unnamed: 23,N,Schrödinger,Y,Asking for it,Boating,Invalid,Provoked,Questionable,Sea Disaster,Unprovoked,<--Who´s asking?,F,M
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,1,0,0,0,1,0,0,0,0,0,0,1,0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,1,0,0,0,0,0,0,0,0,1,0,1,0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Ellasmobranquii sp,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,0,0,1
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0 to 99,Minor injury to lower leg,N,Is relative,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,1,0,0,0,0,0,0,0,0,1,0,0,1
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0 to 99,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Is relative,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,1,0,0,0,0,0,1,0,0,0,0,0,1

In [888]:
(Sharkattacks['OHEType'].corr(Sharkattacks['OHESex']))

KeyError: 'OHEType'

In [ ]:
Case number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Pdf doc', 'Href formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original order',